.idea
*.iml
.vscode

build
codegen/resources
coverage
node_modules
src/**/*.js
src/**/*.js.map
yarn-error.log
*.graphqls

*.env
Makefile

package-lock.json
.npmrc

.DS_Store
*.bkp

**/secret_manager_config/**

**/.local.env